.media{
    display: flex;
    flex-direction: column;
    width:200px;
    padding:5px;
    margin: 5px;
    background-color: #202020;
    border-radius:10px;
    position: relative;
    font-family: "Light300", -roboto;
}

.media:hover{
    background-color:white;
    color:black;
}

@media (max-width: 550px){
    .media{
        width: 45%;
    }
}
.poster{
    border-radius: 10px;
}
.title{
    width: 100%;
    text-align: center;
}

.subTitle{
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
    padding-bottom:3px;
    
}